body { /* не обязательный класс */
    font-family: 'Exo 2', sans-serif;
}

.padding-0     { padding: 0px!important; }
.padding-10    { padding: 10px!important; }
.padding-l-0   { padding-left: 0!important; }
.padding-l-10  { padding-left: 10px!important; }
.padding-t-0   { padding-top: 0!important; }
.padding-t-10  { padding-top: 10px!important; }
.padding-r-0   { padding-right: 0!important; }
.padding-r-10  { padding-right: 10px!important; }
.padding-b-0   { padding-bottom: 0!important; }
.padding-b-10  { padding-bottom: 10px!important; }
.margin-0      { margin: 0px!important; }
.margin-10     { margin: 10px!important; }
.margin-l-0    { margin-left: 0!important; }
.margin-l-10   { margin-left: 10px!important; }
.margin-t-0    { margin-top: 0!important; }
.margin-t-10   { margin-top: 10px!important; }
.margin-r-0    { margin-right: 0!important; }
.margin-r-10   { margin-right: 10px!important; }
.margin-b-0    { margin-bottom: 0!important; }
.margin-b-10   { margin-bottom: 10px!important; }

.nav-tabs .badge { vertical-align: baseline; }

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.inline-block {
    display: inline-block;
}

a[href*="tele-bonus"] {
    white-space: nowrap;
}

.nospace { white-space: nowrap; }

.input-group.data {
    max-width: 200px; /* сразу не подключать */
    margin: unset;
}

.item-data {
    display: flex;
    flex-direction: row;
}
.item-data > img {
    width: 72px;
    height: 72px;
}

.basket-quantity input { min-width: 3em; }

@media (max-width: 767px) {
    [class*="col-"].text-right,
    [class*="col-"].text-left {
        text-align: center;
    }
    [class*="col-"].text-right > *,
    [class*="col-"].text-left > * {
        margin-left: auto;
        margin-right: auto;
    }
    .input-group.data {
        margin-left: auto;
        margin-right: auto;
    }
    .item-data {
        flex-direction: column-reverse;
    }
}


.btn.CSocServVKontakte {
    background-color: #45668e;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServVKontakte:hover {
    background-color: #37659c
}
.btn.CSocServFacebook {
    background-color: #3b5998;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServFacebook:hover {
    background-color: #365eb1
}
.btn.CSocServMailru {
    background-color: #168de2;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServMailru:hover {
    background-color: #1170b4;
}
