body { /* не обязательный класс */
    font-family: 'Exo 2', sans-serif;
}

.padding-0     { padding: 0px!important; }
.padding-10    { padding: 10px!important; }
.padding-l-0   { padding-left: 0!important; }
.padding-l-10  { padding-left: 10px!important; }
.padding-t-0   { padding-top: 0!important; }
.padding-t-10  { padding-top: 10px!important; }
.padding-r-0   { padding-right: 0!important; }
.padding-r-10  { padding-right: 10px!important; }
.padding-b-0   { padding-bottom: 0!important; }
.padding-b-10  { padding-bottom: 10px!important; }
.margin-0      { margin: 0px!important; }
.margin-10     { margin: 10px!important; }
.margin-l-0    { margin-left: 0!important; }
.margin-l-10   { margin-left: 10px!important; }
.margin-t-0    { margin-top: 0!important; }
.margin-t-10   { margin-top: 10px!important; }
.margin-r-0    { margin-right: 0!important; }
.margin-r-10   { margin-right: 10px!important; }
.margin-b-0    { margin-bottom: 0!important; }
.margin-b-10   { margin-bottom: 10px!important; }

.nav-tabs .badge { vertical-align: baseline; }

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.inline-block {
    display: inline-block;
}

a[href*="tele-bonus"] {
    white-space: nowrap;
}

.nospace { white-space: nowrap; }

.input-group.data {
    max-width: 200px; /* сразу не подключать */
    margin: unset;
}

.item-data {
    display: flex;
    flex-direction: row;
}
.item-data > img {
    width: 72px;
    height: 72px;
}

.basket-quantity input { min-width: 3em; }

@media (max-width: 767px) {
    [class*="col-"].text-right,
    [class*="col-"].text-left {
        text-align: center;
    }
    [class*="col-"].text-right > *,
    [class*="col-"].text-left > * {
        margin-left: auto;
        margin-right: auto;
    }
    .input-group.data {
        margin-left: auto;
        margin-right: auto;
    }
    .item-data {
        flex-direction: column-reverse;
    }
}


.btn.CSocServVKontakte {
    background-color: #45668e;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServVKontakte:hover {
    background-color: #37659c
}
.btn.CSocServFacebook {
    background-color: #3b5998;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServFacebook:hover {
    background-color: #365eb1
}
.btn.CSocServMailru {
    background-color: #168de2;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff
}
.btn.CSocServMailru:hover {
    background-color: #1170b4;
}


/* для 9225 */
.description-tabs > .nav-tabs > .active > a {
    background-color: #ddd !important;
    font-weight: 600;
    border-color: transparent;
}
.tab-content > .row:not(:last-of-type) > [class^="col-"] {
    margin-bottom: 30px;
}
.product-expand-block {
    height: 400px;
    overflow: hidden;
}
.btn-expand {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 3;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 25%, white 100%);
    transform: translateY(-100%);
}
@media (max-width: 549px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 550px) {
    .tab-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-style: solid;
        border-width: 1px 2px 2px 2px;
        border-image: linear-gradient(to bottom, #ddd 0%, #f2f2f2 100%);
        border-image-slice: 1;
    }
}
.item-thumb {
    width: 100%;
    max-width: 240px;
    height: auto;
}


a.disabled {
  color: gray;
  pointer-events: none;
}

/* для 9388 */
.row-cards {
    display: flex;
    flex-wrap: wrap;
}

.avaliable-list > [class*="text-"] {
    display: block;
}
.avaliable-list > [class*="text-muted"] > .glyphicon {
    visibility: hidden;
}
.nav-pills-level-2 > li.disabled > a > span {
    display: none;
}
/*[type="checkbox"]:checked ~ .text-muted,
[type="checkbox"]:not(:checked) ~ .text-success {
    display: none;
} фильтра для избранного в текущей реализации отключено*/

.fav-thumbnail {
position: relative;
}
.thumbnail-success {
    border-color: #7ebe7e;
}
.thumbnail-card > img {
    width: 180px;
    max-width: 100%;
    height: auto;
    max-height: 180px;
}
.btn-fav-remove {
    opacity: .25;
    position: relative;
    transition: opacity .5s;
}
.btn-fav-remove:hover {
    opacity: .75;
}
.btn-fav-remove > a {
    position: absolute;
    right: 0px;
    padding: 0;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 550px) {
    [class*="col-xs-"] {
        /*width: 100%;*/
    }
}



/* для 9390 */
a.btn-primary.disabled {
    color: rgba(255, 255, 255, .75);
}
.btn-face-vendor-code {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.thumbnail-card {
    position: relative;
    display: flow-root;
}
.btn-blacked {
    background: #2d2e31;
    border-color: #1c1d20;
    color: #fff;
}
.btn-blacked:hover {
    background: #414245;
    border-color: #2d2e31;
    color: #fff;
}
.btn-flex {
    display: flex;
}
.bg-muted {
    background-color: #eee;
}
.thumbnail-card .bg-muted {
    background-color: #ddd;
}

.opacity25 { opacity: .25; }
.opacity50 { opacity: .50; }
.opacity75 { opacity: .75; }

.row-cards {
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 550px) {
    .row-cards {
        padding-left: 0;
        padding-right: 0;
    }
}

article.columns {
    column-count: 2;
}
@media (max-width: 765px) {
    article.columns {
        column-count: 1;
    }
}
article .pull-left.margin-10 { margin-left: 0 !important; }
article .pull-right.margin-10 { margin-right: 0 !important; }

.thumbnail-card .labels {
    position: absolute;
    display: flex;
    flex-flow: column;
    left: -1px;
    margin-top: 10px;
}
.thumbnail-card .label-discount,
.thumbnail-card .label-hit {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 700;
    border-radius: 0 4px 4px 0;
}
.thumbnail-card .label-discount {
    background-color: #fa8903;
}
.thumbnail-card .label-hit {
    background-color: #ea2042;
    color: #fff;
}

.sections article.thumbnail-card {
    display: flex;
    align-items: flex-start;
}
.sections article.thumbnail-card h4 {
    font-size: 20px;
    padding: 5px;
    background: #f7f7f7;
    word-break: break-all;
}

.bg-pantone362 {
    position: relative;
    background-color: rgba(41, 153, 38, 1);
    color: white;
    border-radius: 2px;
}
.bg-pantone445 {
    background-color: rgba(84, 84, 84, 1);
    color: white;
    border-radius: 2px;
}
.curent-price {
    font-size: small;
    color: #fa8903;
    line-height: 18px;
}

.announce.thumbnail-card {
    position: relative;
    cursor: pointer;
}
.announce.thumbnail-card:hover::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    right: -10px;
    bottom: 0;
    border-radius: 4px;
    background-color: #ededed;
    z-index: -1;
}

.col-md-1-5 {
    width: 20%;
}


/* уже есть эти стили - не переносить на сайт */
.description-tabs > .tab-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* для 9556 */
.compare {
    overflow: hidden;
}
.compare .specifications:nth-child(even) > [class*="col-"] {
    /*background-color: #eee;*/
    border-left: 1px solid #eee;
    box-sizing: padding-box;
}
.compare img {
    width: 100%;
    max-width: 140px;
}
.compare-list-left,
.compare-list-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    z-index: 10;
}
.compare-list-left:hover,
.compare-list-right:hover {
    opacity: 1;
}
.compare-list-left {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.compare-list-right {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.x-ax:hover {
    background-color: #eee;
}
.nav-compare a.active,
.nav-compare a.active:hover {
    color: white;
    background-color: #909390 !important;
    box-shadow: none;
}
.nav-compare a.active > .glyphicon {
    display: none;
}
.nav-compare a {
    border-radius: 0;
}
.nav-compare a.btn:hover {
    background-color: #eee;
}
.clear-compare {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
}
.clear-compare:hover,
.nav-compare a.btn:hover + a {
    display: block;
}
.specifications .text-muted > b {
    opacity: .5;
}

/*
@media (min-width: 993px) {
}

@media (min-width: 769px) and (max-width: 992px) {
    .compare .row > .showed:nth-child(n+5){
        background-color: brown;
    }
    .compare .row > .col-xs-4.col-sm-3.col-md-2:nth-child(n+2):nth-child(-n+5) {
    }
}
@media (max-width: 768px) {
    .compare .row > .col-xs-4.col-sm-3.col-md-2:nth-child(n+2):nth-child(-n+4) {
    }
}*/


/* 9698 */
.installation2 {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 120px;
    overflow: hidden;

    background-color:  #f7f8fb;
}
.installation2 .logo {
    width: 240px;
    /*border-top: 2px #f3722b solid;*/
    background-color: rgba(255, 255, 255, 0);
}
.installation2 .cta {
    font-size: 18px;
    width: calc(100% - 240px * 2);
    /*border-top: 2px #f3722b solid;*/
    background-color: rgba(255, 255, 255, 0);
}
.installation2 .form {
    width: 240px;
    padding: 10px;
    background-color: #008DBD;
}
.installation2 .form *,
.installation-form * {
    border-radius: 0;
    border: 0;
}
.installation2 > *:not(.ins-hover) > * {
    position: relative;
    /*top: 50%;*/
    top: 60px;
    transform: translateY(-50%);
}
.installation2 .loged {
    top: 50px;
}
.ins-hover {
    position: absolute;
    display: flex;
    justify-content: center;
    top: calc(-100% + 2px);
    left: 0;
    width: calc(100% - 240px);
    height: 100%;
    background-color: #f3722b;
    z-index: 1;
    transition: top .3s ease-in-out;
}
.ins-hover > div {
    color: white;
    align-self: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}
.ins-more {
    position: absolute;
    bottom: 10px;
    right: calc(240px + 10px);
    font-size: 12px;
    color: #f3722b;
}
.ins-hover .ins-more {
    right: 10px;
    color: #fff;
    opacity: 0;
}
.ins-hover:hover,
.ins-more:hover ~ .ins-hover,
.installation2 .logo:hover ~ .ins-hover,
.installation2 .cta:hover ~ .ins-hover {
    top: 0;
}
.ins-hover:hover .ins-more,
.ins-more:hover ~ .ins-hover .ins-more,
.installation2 .logo:hover ~ .ins-hover .ins-more,
.installation2 .cta:hover ~ .ins-hover .ins-more {
    transition: opacity .3s ease-in-out .3s;
    opacity: 1;
}
.installation-form {
    display: none;
    background-color: #008DBD;
    padding: 10px;
}

@media only screen and (max-width: 992px) {
    .installation2 .logo {
        width: 180px;
    }
    .installation2 .cta {
        font-size: 16px;
        width: calc(100% - 180px * 2);
    }
    .installation2 .form {
        width: 180px;
    }
    .ins-hover {
        width: calc(100% - 180px);
    }
    .ins-more {
        right: calc(180px + 10px);
    }
}

@media only screen and (max-width: 768px) {
    .installation2 .form {
        display: none;
    }
    .installation2 .cta {
        font-size: 16px;
        width: calc(100% - 180px);
    }
    .ins-hover {
        width: calc(100%);
    }
    .ins-more {
        right: 10px;
    }
    .installation-form {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    /*.installation2 .logo {
        width: 120px;
    }
    .installation2 .cta {
        font-size: 14px;
        width: calc(100% - 120px);
    }*/
    .installation2 {
        flex-direction: column;
    }
    .installation2 .logo {
        width: 100%;
    }
    .installation2 .logo img {
        max-width: 230px;
    }
    .installation2 > :not(.ins-hover) > * {
        top: 30px;
    }
    .installation2 .cta {
        font-size: 14px;
        width: 100%;
    }
}


/* 9729 */
.nav-telecamera .navbar-brand {
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0;
    position: relative;
    height: auto;
}
.nav-telecamera .navbar-brand > * {
    display: inline-block;
    vertical-align: middle;
    padding-left: 7px;
    padding-right: 7px;
}
.nav-telecamera a,
.nav-telecamera .dropdown-menu a {
    color: #777 !important;
    background-color: transparent !important;
    text-decoration: none;
}
.nav-telecamera a:hover,
.nav-telecamera .dropdown-menu a:hover {
    color: #333 !important;
    background-color: transparent!important;;
}
.nav-telecamera .nav-phone > * {
    line-height: 1;
    display: block;
}
.nav-telecamera .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.nav-telecamera .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

@media (max-width: 992px) {
    .nav-telecamera .navbar-brand {
        float: right;
    }
}
@media (min-width: 992px) {
    .nav-telecamera .navbar-header {
        float: right;
    }
    .nav-telecamera .navbar-nav > li > a {
        padding-left: 0px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in {
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 550px){
    .hidden-xxs {
        display: none;
    }
}
